body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, white,  #74ebd5, #9face6, white); */
}

.container {
    perspective: 1000px;
}

.form-container {
    background: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 40px;
    animation: slideIn 0.5s ease-in-out;
}
.form-container:hover{
    box-shadow: none;
    transition: 0.3s;
}

@keyframes slideIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    margin-bottom: 20px;
    color: #333;
    animation: bounce 1s ease infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s;
}

input:focus {
    border-color: #74ebd5;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 0;
}

button:hover {
    transform: scale(1.05);
}

button.option {
    background-color: rgb(212, 5, 5);
}

button.option.clicked {
    background-color: rgb(212, 5, 5);
}

button[type="submit"] {
    background-color: rgb(212, 5, 5);
}

button[type="submit"]:hover {
    background-color: rgb(245, 40, 40);
    transition: 0.3s;
}

#message {
    margin-top: 15px;
    color: red;
    text-align: center;
}
